
    <span class="badge">
    {% if parentCategoryLocation is not null %}
        <a href="#" class="text-decoration-none text-light">
            <span class="pt-2 ps-2 pb-2 pe-5 rounded-pill" style="background-color: {{ ibexa_field_value(parentCategoryLocation.content, 'color') }}; margin-right: -30px">
                {{ ibexa_field_value(parentCategoryLocation.content, 'name') }}
            </span>
        </a>
    {% endif %}
        <a href="#" class="text-decoration-none text-light">
            <span class="pt-2 ps-3 pb-2 pe-3 rounded-pill" style="background-color: {{ ibexa_field_value(content, 'color') }};">
                {{ ibexa_field_value(content, 'name') }}
            </span>
        </a>
    </span>

