<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for category in categories %}
    <li><a class="dropdown-item" href="#"><i class="bi bi-square-fill" style="color: {{ ibexa_field_value(category, 'color') }};"></i> {{ ibexa_content_name(category) }}</a></li>
    {% endfor %}
</ul>